---
import ReactIcon from '../../assets/icons/ReactIcon.astro';
import AngularIcon from '../../assets/icons/AngularIcon.astro';
import AboutSkillTag from '../atoms/AboutSkillTag.astro';
import SassIcon from '../../assets/icons/SassIcon.astro';
import TsIcon from '../../assets/icons/TsIcon.astro';
import NextjsIcon from '../../assets/icons/NextjsIcon.astro';
import FigmaIcon from '../../assets/icons/FigmaIcon.astro';
import GitIcon from '../../assets/icons/GitIcon.astro';
import TailwindIcon from '../../assets/icons/TailwindIcon.astro';
import JestIcon from '../../assets/icons/JestIcon.astro';
import AstrIcon2 from '../../assets/icons/AstroIcon2.astro';
---

<section class='w-100vw flex flex-col items-center justify-center pt-[60px] md:pt-[120px]'>
	<div class='wrapper'>
		<AboutSkillTag
			text='Typescript'
			icon={TsIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item1 gap-3 bg-[#007ACC]/10 border-[#007ACC] shadow-[0px_0px_18px_0px_#007ACC]'
		/>
		<AboutSkillTag
			text='React'
			icon={ReactIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item2 gap-6 bg-[#00D8FF]/10 border-[#00D8FF] shadow-[0px_0px_18px_0px_#00D8FF]'
		/>
		<AboutSkillTag
			text='Next js'
			icon={NextjsIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item3 gap-6 bg-[#FFFFFF]/10 border-[#FFFFFF] shadow-[0px_0px_18px_0px_#FFFFFF]'
		/>
		<AboutSkillTag
			text='Angular'
			icon={AngularIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item4 gap-7 bg-[#DC087D]/10 border-[#DC087D] shadow-[0px_0px_18px_0px_#DC087D]'
		/>
		<AboutSkillTag
			text='Astro'
			icon={AstrIcon2}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item5 gap-3 bg-[#F041FF]/10 border-[#F041FF] shadow-[0px_0px_18px_0px_#F041FF]'
		/>
		<AboutSkillTag
			text='Typescript'
			icon={TsIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item6 gap-3 bg-[#007ACC]/10 border-[#007ACC] shadow-[0px_0px_18px_0px_#007ACC]'
		/>
		<AboutSkillTag
			text='React'
			icon={ReactIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item7 gap-6 bg-[#00D8FF]/10 border-[#00D8FF] shadow-[0px_0px_18px_0px_#00D8FF]'
		/>
		<AboutSkillTag
			text='Next js'
			icon={NextjsIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item8 gap-6 bg-[#FFFFFF]/10 border-[#FFFFFF] shadow-[0px_0px_18px_0px_#FFFFFF]'
		/>
		<AboutSkillTag
			text='Angular'
			icon={AngularIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item9 gap-7 bg-[#DC087D]/10 border-[#DC087D] shadow-[0px_0px_18px_0px_#DC087D]'
		/>
		<AboutSkillTag
			text='Astro'
			icon={AstrIcon2}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item10 gap-3 bg-[#F041FF]/10 border-[#F041FF] shadow-[0px_0px_18px_0px_#F041FF]'
		/>
	</div>
	<div class='wrapper'>
		<AboutSkillTag
			text='Sass'
			icon={SassIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item1 bg-[#EC407A]/10 border-[#EC407A] shadow-[0px_0px_18px_0px_#EC407A]'
		/>
		<AboutSkillTag
			text='Tailwindcss'
			icon={TailwindIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item2 bg-[#38BDF8]/10 rounded-lg border-[#38BDF8] shadow-[0px_0px_18px_0px_#38BDF8]'
		/>
		<AboutSkillTag
			text='Figma'
			icon={FigmaIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item3 bg-[#00E676]/10 border-[#00E676] shadow-[0px_0px_18px_0px_#00E676]'
		/>
		<AboutSkillTag
			text='Jest'
			icon={JestIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item4 gap-3 bg-[#99425B]/10 border-[#99425B] shadow-[0px_0px_18px_0px_#99425B]'
		/>
		<AboutSkillTag
			text='Git'
			icon={GitIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item5 bg-[#E64A19]/10 border-[#E64A19] shadow-[0px_0px_18px_0px_#E64A19]'
		/>
		<AboutSkillTag
			text='Sass'
			icon={SassIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item6 bg-[#EC407A]/10 border-[#EC407A] shadow-[0px_0px_18px_0px_#EC407A]'
		/>
		<AboutSkillTag
			text='Tailwindcss'
			icon={TailwindIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item7 bg-[#38BDF8]/10 rounded-lg border-[#38BDF8] shadow-[0px_0px_18px_0px_#38BDF8]'
		/>
		<AboutSkillTag
			text='Figma'
			icon={FigmaIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item8 bg-[#00E676]/10 border-[#00E676] shadow-[0px_0px_18px_0px_#00E676]'
		/>
		<AboutSkillTag
			text='Jest'
			icon={JestIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item9 gap-3 bg-[#99425B]/10 border-[#99425B] shadow-[0px_0px_18px_0px_#99425B]'
		/>
		<AboutSkillTag
			text='Git'
			icon={GitIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item10 bg-[#E64A19]/10 border-[#E64A19] shadow-[0px_0px_18px_0px_#E64A19]'
		/>
	</div>
</section>
