---
import HtmlIcon from '../../assets/icons/HtmlIcon.astro';
import CssIcon from '../../assets/icons/CssIcon.astro';
import JsIcon from '../../assets/icons/JsIcon.astro';
import ReactIcon from '../../assets/icons/ReactIcon.astro';
import AngularIcon from '../../assets/icons/AngularIcon.astro';
import AboutSkillTag from '../atoms/AboutSkillTag.astro';
---

<section class='w-100vw flex flex-col items-center justify-center pt-[60px] md:pt-[120px]'>
	<div class='wrapper'>
		<AboutSkillTag
			text='HTML'
			icon={HtmlIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item1 bg-[#E44F26]/10 border-[#E44F26] shadow-[0px_0px_18px_0px_#E44F26]'
		/>
		<AboutSkillTag
			text='Css'
			icon={CssIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item2 bg-[#1572B6]/10 border-[#1572B6] shadow-[0px_0px_18px_0px_#1572B6]'
		/>
		<AboutSkillTag
			text='Javascript'
			icon={JsIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item3 bg-[#F0DB4F]/10 rounded-lg border-[#F0DB4F] shadow-[0px_0px_18px_0px_#F0DB4F]'
		/>
		<AboutSkillTag
			text='React'
			icon={ReactIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item4 gap-3 bg-[#00D8FF]/10 border-[#00D8FF] shadow-[0px_0px_18px_0px_#00D8FF]'
		/>
		<AboutSkillTag
			text='Angular'
			icon={AngularIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item5 gap-3 bg-[#DC087D]/10 border-[#DC087D] shadow-[0px_0px_18px_0px_#DC087D]'
		/>
		<AboutSkillTag
			text='Css'
			icon={CssIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item6 gap-3 bg-[#1572B6]/10 border-[#1572B6] shadow-[0px_0px_18px_0px_#1572B6]'
		/>
		<AboutSkillTag
			text='Javascript'
			icon={JsIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item7 gap-3 bg-[#F0DB4F]/10 border-[#F0DB4F] shadow-[0px_0px_18px_0px_#F0DB4F]'
		/>
		<AboutSkillTag
			text='React'
			icon={ReactIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemLeft item8  gap-3 bg-[#00D8FF]/10 border-[#00D8FF] shadow-[0px_0px_18px_0px_#00D8FF]'
		/>
	</div>
	<div class='wrapper'>
		<AboutSkillTag
			text='HTML'
			icon={HtmlIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item1 bg-[#E44F26]/10 border-[#E44F26] shadow-[0px_0px_18px_0px_#E44F26]'
		/>
		<AboutSkillTag
			text='Css'
			icon={CssIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item2 bg-[#1572B6]/10 border-[#1572B6] shadow-[0px_0px_18px_0px_#1572B6]'
		/>
		<AboutSkillTag
			text='Javascript'
			icon={JsIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item3 bg-[#F0DB4F]/10 rounded-lg border-[#F0DB4F] shadow-[0px_0px_18px_0px_#F0DB4F]'
		/>
		<AboutSkillTag
			text='React'
			icon={ReactIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item4 gap-3 bg-[#00D8FF]/10 border-[#00D8FF] shadow-[0px_0px_18px_0px_#00D8FF]'
		/>
		<AboutSkillTag
			text='HTML'
			icon={HtmlIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item5 gap-3 bg-[#E44F26]/10 border-[#E44F26] shadow-[0px_0px_18px_0px_#E44F26]'
		/>
		<AboutSkillTag
			text='Css'
			icon={CssIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item6 gap-3 bg-[#1572B6]/10 border-[#1572B6] shadow-[0px_0px_18px_0px_#1572B6]'
		/>
		<AboutSkillTag
			text='Javascript'
			icon={JsIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item7 gap-3 bg-[#F0DB4F]/10 border-[#F0DB4F] shadow-[0px_0px_18px_0px_#F0DB4F]'
		/>
		<AboutSkillTag
			text='React'
			icon={ReactIcon}
			iconClass='w-[30px] h-[30px]'
			containerClass='itemRight item8  gap-3 bg-[#00D8FF]/10 border-[#00D8FF] shadow-[0px_0px_18px_0px_#00D8FF]'
		/>
	</div>
</section>
